<app-top-head></app-top-head>
<div>
  <div class="title-faq">
    <div class="mt-3 subraya fw-900 roboto fs-lg-4 py-5">FAQs</div>
  </div>

</div>

<section id="faq" class="py-5">
  <div class="pb-5 container">


    <nav class="row border-faq pl-5 navbar navbar-light">
      <div class="col-lg-11 px-4 fw-500 subtitle-faq " (click)="isCollapsed= !isCollapsed">
        Cómo sincronizar mi teléfono móvil con
         la pagina web?
      </div>
      <div class="col-lg-1 order-1">
        <button class="col-12 navbar-toggler btn btn-outline-primary"
          type="button"
          data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed= !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="navbarTogglerDemo02">
          <span class="material-icons">
            expand_more
          </span>
        </button>
      </div>
      <div class="order-lg-2 order-xs-3 navbar-collapse collapse show"
        id="navbarTogglerDemo02"
        [ngbCollapse]="isCollapsed">
        <ul class="out-punt order-lg-2 order-xs-3 navbar-collapse collapse
          show">
          <li class="nav-item active">
            <a class="contenido-despl">Una vez que abra la URL que le enviamos,
              Pulsa en el botón para sincronizar, y la web automáticamente
              establecer la conexión. <span class="sr-only"></span></a>
          </li>
        </ul>

      </div>
    </nav>
    <nav class="row border-faq pl-5 navbar navbar-light">
      <div class="col-lg-11 px-4 fw-500 subtitle-faq" (click)="isCollapsed2= !isCollapsed2">
        ¿Cómo puedo saber que la cámara está grabando?
      </div>
      <div class="col-lg-1 order-1">
        <button class="col-12 navbar-toggler btn btn-outline-primary"
          type="button"
          data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed2= !isCollapsed2"
          [attr.aria-expanded]="!isCollapsed2"
          aria-controls="navbarTogglerDemo02">
          <span class="material-icons">
            expand_more
          </span>
        </button>
      </div>
      <div class="order-lg-2 order-xs-3 navbar-collapse collapse show"
        id="navbarTogglerDemo02"
        [ngbCollapse]="isCollapsed2">
        <ul class="out-punt order-lg-2 order-xs-3 navbar-collapse collapse
          show">
          <li class="nav-item active">
            <a class="contenido-despl">Una vez que la cámara está activada, necesita
              para ver en la parte superior izquierda si hay un pequeño icono rojo que
              indica su grabación.
              <span class="sr-only"></span></a>
          </li>
        </ul>

      </div>
    </nav>
    <nav class="row border-faq pl-5 navbar navbar-light">
      <div class="col-lg-11 px-4 fw-500 subtitle-faq"(click)="isCollapsed3= !isCollapsed3">
        ¿Cómo puedo conectar más de un dispositivo?
      </div>
      <div class="col-lg-1 order-1">
        <button class="col-12 navbar-toggler btn btn-outline-primary"
          type="button"
          data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed3= !isCollapsed3"
          [attr.aria-expanded]="!isCollapsed3"
          aria-controls="navbarTogglerDemo02">
          <span class="material-icons">
            expand_more
          </span>
        </button>
      </div>
      <div class="order-lg-2 order-xs-3 navbar-collapse collapse show"
        id="navbarTogglerDemo02"
        [ngbCollapse]="isCollapsed3">
        <ul class="out-punt order-lg-2 order-xs-3 navbar-collapse collapse
          show">
          <li class="nav-item active">
            <a class="contenido-despl">Para conectar más de un dispositivo,
              debe iniciar sesión en nuestro sitio web y en el menú de la cámara, haga clic en el
              botón llamado "añadir una cámara".<span class="sr-only"></span></a>
          </li>
        </ul>

      </div>
    </nav>
    <nav class="row border-faq pl-5 navbar navbar-light">
      <div class="col-lg-11 px-4 fw-500 subtitle-faq" (click)="isCollapsed4= !isCollapsed4">
        ¿Cómo puedo adquirir cámaras en vuestra web?
      </div>
      <div class="col-lg-1 order-1">
        <button class="col-12 navbar-toggler btn btn-outline-primary"
          type="button"
          data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed4= !isCollapsed4"
          [attr.aria-expanded]="!isCollapsed4"
          aria-controls="navbarTogglerDemo02">
          <span class="material-icons">
            expand_more
          </span>
        </button>
      </div>
      <div class="order-lg-2 order-xs-3 navbar-collapse collapse show"
        id="navbarTogglerDemo02"
        [ngbCollapse]="isCollapsed4">
        <ul class="out-punt order-lg-2 order-xs-3 navbar-collapse collapse
          show">
          <li class="nav-item active">
            <a class="contenido-despl">Para ello, debe iniciar sesión en nuestro
              sitio web entonces diríjase a la tienda en línea, encontrará allí todos nuestros
              productos
              <span class="sr-only"></span></a>
          </li>
        </ul>

      </div>
    </nav>
    <nav class="row border-faq pl-5 navbar navbar-light">
      <div class="col-lg-11 px-4 fw-500 subtitle-faq"(click)="isCollapsed5= !isCollapsed5">
        ¿Cómo puedo ver las cámaras desde diferentes dispositivos?
      </div>
      <div class="col-lg-1 order-1">
        <button class="col-12 navbar-toggler btn btn-outline-primary"
          type="button"
          data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed5= !isCollapsed5"
          [attr.aria-expanded]="!isCollapsed5"
          aria-controls="navbarTogglerDemo02">
          <span class="material-icons">
            expand_more
          </span>
        </button>
      </div>
      <div class="order-lg-2 order-xs-3 navbar-collapse collapse show"
        id="navbarTogglerDemo02"
        [ngbCollapse]="isCollapsed5">
        <ul class="out-punt order-lg-2 order-xs-3 navbar-collapse collapse
          show">
          <li class="nav-item active">
            <a class="contenido-despl">Por el momento, no estamos planeando
              te permite ver las cámaras de diferentes dispositivos por seguridad
              razones.<span class="sr-only"></span></a>
          </li>
        </ul>

      </div>
    </nav>
    <nav class="row border-faq pl-5 navbar navbar-light">
      <div class="col-lg-11 px-4 fw-500 subtitle-faq "  (click)="isCollapsed6= !isCollapsed6">
        ¿Cómo desincronizar un dispositivo?
      </div>
      <div class="col-lg-1 order-1">
        <button class="col-12 navbar-toggler btn btn-outline-primary"
          type="button"
          data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed6= !isCollapsed6"
          [attr.aria-expanded]="!isCollapsed6"
          aria-controls="navbarTogglerDemo02">
          <span class="material-icons">
            expand_more
          </span>
        </button>
      </div>
      <div class="order-lg-2 order-xs-3 navbar-collapse collapse show"
        id="navbarTogglerDemo02"
        [ngbCollapse]="isCollapsed6">
        <ul class="out-punt order-lg-2 order-xs-3 navbar-collapse collapse
          show">
          <li class="nav-item active">
            <a class="contenido-despl"> Debe iniciar sesión, haga clic en el
              menú de la cámara, haga clic en el botón de opciones en la cámara que desea
              desincronizar y haga clic en desincronizar.
              <span class="sr-only"></span></a>
          </li>
        </ul>

      </div>
    </nav>
    <nav class="row border-faq pl-5 navbar navbar-light">
      <div class="col-lg-11 px-4 fw-500 subtitle-faq" (click)="isCollapsed7= !isCollapsed7">
        ¿Dónde puedo encontrar mi metraje grabado?
      </div>
      <div class="col-lg-1 order-1">
        <button class="col-12 navbar-toggler btn btn-outline-primary"
          type="button"
          data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed7= !isCollapsed7"
          [attr.aria-expanded]="!isCollapsed7"
          aria-controls="navbarTogglerDemo02">
          <span class="material-icons">
            expand_more
          </span>
        </button>
      </div>
      <div class="order-lg-2 order-xs-3 navbar-collapse collapse show"
        id="navbarTogglerDemo02"
        [ngbCollapse]="isCollapsed7">
        <ul class="out-punt order-lg-2 order-xs-3 navbar-collapse collapse
          show">
          <li class="nav-item active">
            <a class="contenido-despl">
              Debe iniciar sesión, hacer clic en el metraje grabado y hacer clic en
              descargar en el video deseado.
              <span class="sr-only"></span></a>
          </li>
        </ul>

      </div>
    </nav>

  </div>
</section>
<app-footer></app-footer>
