.contenido-despl {
    display: block;
    padding-top: 5px;
    color: black;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.out-punt {
    list-style: none;
}

.title-faq {
    text-align: center;
}

.border-faq {
    border: 1px solid #4a4a4a;
}

.bg-faqs {
    background-color: #e9e9e9;
}

.cajaimg {
    text-align: center;
}

.imbfaq {
    max-width: 100%;
    height: 600px;
}

.bg-title {
    background-color: bisque;
}

.subraya {
    text-decoration: underline;
}
.subtitle-faq{
    font-size: 1.2em;
}
@media (max-width: 980px) {
    .imbfaq {
        height: auto;
    }

    .title-faq {
        font-size: 3em;

    }
    .subtitle-faq{
        font-size: 1.1em;
    }
}