.registrar{
    color: black;
}
.wrapper{

}
.iniciarS{

}
.pl-5{
    padding-left: 5%;
}
ul{
    list-style:none;
}
.footer{
    padding-left: 0px;
}

.caixaButons{
    padding-right: 10%;
    padding-top: 9%;
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    

}

.bgTopBar{
    background-color: #4a4a4a;
    position: absolute;
    width: 100%;


}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.logo{
    width: 100%;
    height: 170px;
    background-size: cover;
}

.color-white{
    color: white;
}
@media (min-width: 420px) {
    .menu-footer{
        text-align: start;
    }
    .texto-buscador[_ngcontent-xbs-c110] {
        font-size: 16px;
        text-align: center;

    }
}

.menu-redes-footer{
    text-align: start;
}
#sidebar {
    background: #e24343;
    color: #fff;
    transition: all 0.3s;
    float: left;
  
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f74242;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #bb7474;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #d57373;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #cc6d6d;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #cc6d6d;
}


.contenedor {
    width: 100%;
    max-width: 960px;
    margin:0 auto;
    overflow: hidden;
    }
    main.contenido {
    width: 66.6666%;
    background: #efefef;
    padding: 20px;
    float: left;
    }
    aside.sidebar {
    float: left;
    width: 33.3333%;
    background: #666666;
    padding: 20px;
    color:#ffffff;

    }