<footer>
    <section class="bgTopBar">

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <img [routerLink]="['/']" class="logo" src="../../assets/media/Inicio/chs.png">
                    
                </div>
                <ul class="col-lg-2 col-12 menu-footer color-white justify-content-center align-items-center fs-6">
                    <li class="pt-5 pl-5">
                        <div [routerLink]="['/aboutUs']">About Us</div>
                    </li>
                    <li class="pt-3 pl-5">
                        <div [routerLink]="['/faq']">FAQ</div>
                    </li>
                </ul>
                <ul class="col-lg-2 col-12 menu-footer color-white justify-content-center align-items-center fs-6">
                        
                        <li class="pt-lg-5 pt-3 pl-5">
                            <div [routerLink]="['/iniciarSession']"
                                class="" id="iniciarSesion">Iniciar
                                Sesion</div>

                        </li>
                        <li class="pt-3 pl-5">
                            <div [routerLink]="['formulario']" class=""
                                id="registrarse"> Registrarse </div>
                        </li>
                    </ul>

                <ul class="col-lg-3 col-12 menu-redes-footer color-white justify-content-center align-items-center fs-6">
  
                        <li class="pt-lg-5 pt-3 pl-5">
                            <div  href=»mailto:elcorreoquedesees@correo.com»>Correo: chs@outlook.es</div>
                        </li>
                        <li class="pt-3 pl-5">
                            <div href="tel:+34611611611">Telefono: +34 611611611</div>
                        </li>
                    </ul>
           

            </div>
        </div>
    </section>
  </footer>

  <app-root>
</app-root>
