<footer>
    <section class="bgTopBar">

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <img [routerLink]="['/panel']" class="logo" src="../../assets/media/Inicio/chs.png">
                </div>
                <ul class="col-lg-2 col-12 menu-footer color-white justify-content-center align-items-center fs-6">
                    <li class="pt-5 pl-5">
                        <div [routerLink]="['/aboutUs']">About Us</div>
                    </li>
                    <li class="pt-3 pl-5">
                        <div [routerLink]="['/faq']">FAQ</div>
                    </li>
                </ul>
                <ul class="col-lg-2 col-12 menu-footer color-white justify-content-center align-items-center fs-6">

                        <li class="pt-lg-5 pt-3 pl-5">
                            <div [routerLink]="['/panel']"
                                class="roboto" id="panel">Panel</div>
                        </li>
                        <li class="pt-3 pl-5">
                            <div [routerLink]="['/camara']"
                                class="roboto" id="Camara">Camara</div>
                        </li>
                        <li class="pt-3 pl-5">
                            <div [routerLink]="['/perfil']" class="roboto"
                                id="perfil"> Perfil </div>
                        </li>
                    </ul>


                <ul class="col-lg-3 col-12 menu-redes-footer color-white justify-content-center align-items-center fs-6">

                        <li class="pt-lg-5 pt-3 pl-5">
                            <div href="">Correo: chs@outlook.es</div>
                        </li>
                        <li class="pt-3 pl-5">
                            <div href="">Telefono: +34 611611611</div>
                        </li>
                    </ul>


            </div>
        </div>
    </section>
  </footer>
