<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="imagen-carrousel" [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="imagen-carrousel" [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="imagen-carrousel" [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      
    </div>
  </ng-template>
</ngb-carousel>


