<section>
  <div class="bgTopBar">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-9">
          <img [routerLink]="['/panel']" class="logo"
            src="../../assets/media/Inicio/chs.png">
        </div>
        <div class="col-lg-8 pt-5 pl-5 col-3 justify-content-center
          align-items-center">
          <div class="menuDesk">
            <div class="py-lg-3 pr-5">
              <ul class="row justify-content-end color-white fs-5 text-center">
                <li class="col-2 pt-5">
                  <div [routerLink]="['/aboutUs']"
                    class="roboto" id="aboutUs">About Us</div>
                </li>
                <li class="col-2 pt-5">
                  <div [routerLink]="['/faq']"
                    class="roboto" id="faq">FAQ</div>
                </li>
                <li class="col-2 pt-5">
                  <div [routerLink]="['/panel']"
                    class="roboto" id="panel">Panel</div>
                </li>
                <li class="col-2 pt-5">
                  <div [routerLink]="['/camara']"
                    class="roboto" id="camara">Camara</div>
                </li>
                <li class="col-2 pt-5" ngbDropdown>

                  <div class="roboto" ngbDropdownToggle id="perfil">Cuenta</div>
                  <div ngbDropdownMenu aria-labelledby="navbarDropdown2"
                    class="dropdown-menu dropdown-menu-end">
                    <div [routerLink]="['/perfil']" class="pl-5 perfil roboto"
                      id="perfil">Perfil</div>
                    <div [routerLink]="['/']" class="pl-5 cerrar-sesion roboto"
                      id="sesion">Cerrar Sesion</div>
                  </div>



                </li>
              </ul>
            </div>
          </div>
          <div class="menuMobile navbar navbar-expand-lg navbar-light">
            <div id="mySidenav" class="sidenav">
              <div class="row">
                <div class="col-2 order-2 my-auto">
                  <div href="javascript:void(0)" class="closebtn"
                    onclick="closeNav()">&times;</div>
                </div>
                <div class="col-10 order-1">
                  <img [routerLink]="['/panel']" class="logo"
                    src="../../assets/media/Inicio/chs.png">
                </div>
              </div>
              <hr>
              <div class="menu-despl">
                <div [routerLink]="['/aboutUs']"
                  class="my-4 roboto" id="aboutUs">About us</div>
                <div [routerLink]="['/faq']"
                  class="my-4 roboto" id="faq">FAQ</div>
                <div [routerLink]="['/panel']"
                  class="my-4 roboto" id="panel">Panel</div>
                <div [routerLink]="['/camara']"
                  class="my-4 roboto" id="camara">Camara</div>
                <div [routerLink]="['/perfil']" class="roboto"
                  id="registrarse">Perfil</div>

              </div>
              <hr>
            </div>
            <button class="navbar-toggler btn btn-outline-primary bg-white"
              type="button" onclick="openNav()">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
