.registrar {
    color: black;
}

.wrapper {}

.iniciarS {}

.logo {
    background-image: url();
}

.pl-5 {
    padding-left: 5%;
}

ul {
    list-style: none;
}

.footer {
    padding-left: 0px;
}

.caixaButons {
    padding-right: 10%;
    padding-top: 9%;
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;


}

.bgTopBar {
    background-color: #4a4a4a;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.logo {
    width: 100%;
    height: 170px;
    background-size: cover;
}

.color-white {
    color: white;
}

.menu-footer {
    text-align: end;
}

.menu-redes-footer {
    text-align: start;
}

#sidebar {
    background: #e24343;
    color: #fff;
    transition: all 0.3s;
    float: left;

}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f74242;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #bb7474;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #d57373;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #cc6d6d;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #cc6d6d;
}


.contenedor {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

main.contenido {
    width: 66.6666%;
    background: #efefef;
    padding: 20px;
    float: left;
}

aside.sidebar {
    float: left;
    width: 33.3333%;
    background: #666666;
    padding: 20px;
    color: #ffffff;

}

.menuDesk div ul li:nth-child(2) {
    width: 10%;
}

@media (max-width: 992px) {
    .menuDesk {
        display: none;
    }

    .bg-white {
        background-color: white !important;
    }
}

@media (min-width: 992px) {
    .menuMobile {
        display: none;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4a4a4a;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    font-size: 36px;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
    #perfil #sesion {
        cursor: pointer;
    }
}

#perfil #sesion {
    cursor: pointer;
}

.menu-despl {
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    font-size: 25px;
    background-color: #4a4a4a;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.3s;
    color: white;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    font-size: 36px;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}