body {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  margin: 80px 10px;
}

video {
  background: #2c3e50;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}
#webcamVideo{
  max-width: 100%;
  border: 1px solid #000;
  
}
.tuto{
      border: 1px solid #000;
}
.mobile{
  border: 0px solid #000;
}
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');#Camaras {  font-family: 'Syne Mono', monospace;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  text-align: center;  color: #2c3e50;  margin: 80px 10px;}.subraya {  text-decoration: underline;}.videos {  display: flex;  align-items: center;  justify-content: center;}#remoteVideo{  border: 1px solid #000;}.imagenAdd{  position: absolute;  top: 64%;  left: 47%;  width: 6%;}@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
#Camaras {
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  margin: 80px 10px;
}
@media (max-width: 992px) {
  .mobile{
    border: 1px solid #000;
  }
  .tuto{
    border: 0px solid #000;
}
  #webcamVideo{
  max-width: 100%;
  max-height: 300px;
  border: 1px solid #000;
  }
}