<app-top-head-client></app-top-head-client>
<section id="Camaras">
<div class="videos">
      <span>
        <div class="subraya fw-900 roboto fs-lg-5 fs-1 py-5">Camara</div>
        <video controls muted id="webcamVideo" autoplay playsinline></video>
      </span>


</div>

<button id="webcamButton" class="my-3 btn btn-outline-secondary">Iniciar Camara</button>

<div class="mobile fs-12 py-3 my-3 roboto">

 <span class="tuto p-3">Aqui se te mostrara el codigo generado de tu propio dispositivo, ya solo te quedaria introducirlo en la pestaña "Paneles".</span> 
</div>
<input id="callInput" [(ngModel)]="key"/>

<script type="module" src="/main.js"></script>

</section>
<app-footer-client></app-footer-client>
