<app-top-head></app-top-head>




<section class="align-center">


  <div class="titulo-aboutus subraya fw-900 roboto fs-lg-4 mt-5 mb-5"> About us</div>

  <div class="roboto fs-12 aboutus-descrip mb-5 mt-5">
    CHS surgió de una conversación entre nosotros, pensamos que no había
    cualquier servicio barato y con una excelente efectividad en la custodia de sus
    propia casa,
    sin necesidad de que un técnico instale todas las cámaras. Ahí
    es donde nació CHS, la idea es bastante simple,
    proporcionar un sistema de vigilancia de autocontrol, sin necesidad de
    tener terceros.

    Puedes decidir dónde quieres instalar las cámaras en tu casa y
    conéctese a las cámaras a través de un teléfono móvil o una computadora de escritorio y tenga la
    imágenes de sus cámaras de vigilancia en cualquier momento que desee.

  </div>
  <hr class="linea-aboutus">
  <div class="container mb-lg-5 my-5">

    <div class="row">

      <div class="col-lg-4 col-12 cardContainer inactive">
        <div class="card">
          <img class="img-aboutus pb-3" src="../../assets/about us/joaquim.jpg"
            alt="">
          <div class="info">
            <h2>Joaquim Barrera</h2>
            <p> Soy un programador experimentado que sigue aprendiendo nuevas tendencias e
              idiomas para no quedarse atrás con el paso del tiempo. Tengo
              experiencia en gestión de datos y diseño de API. Como este
              proyecto y mi carrera profesional avanza, quiero
              seguir mejorando como programador.</p>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-12 cardContainer inactive">
        <div class="card">
          <img class="img-aboutus pb-3" src="../../assets/about us/david.jpeg"
            alt="">
          <div class="info">
            <h2>David Carreras</h2>
            <p> Estudié en el Lycée Français de Barcelona, y después de esto me
              completó un curso de formación profesional en desarrollo web en
              Stucom, la “mejor” escuela del mundo. Durante mis estudios yo
              aprendió varios lenguajes de programación, por ejemplo Java, PHP
              o Typescrip, y este conocimiento ha sido muy útil para
              para crear nuestro software (Cheap Home Security).</p>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-12 cardContainer inactive">
        <div class="card">

          <img class="img-aboutus pb-3" src="../../assets/about us/alex.jpg"
            alt="">
          <div class="info">
            <h2>Alex Macías</h2>
            <p> Soy un programador enfocado en el front-end con una alta
              experiencia en el lenguaje que los componen. Tengo
              experiencia en diferentes empresas como desarrollador web, y mi
              deseo es seguir aprendiendo y ganando experiencia.</p>
          </div>
        </div>
      </div>

    </div>


  </div>
</section>
<app-footer></app-footer>
