.img-aboutus {
  width: 100%;
  height: auto;

}

.aboutus-descrip {
  padding: 0 15% 0px 15%;
  text-align: center;
}

.aboutus-descrip-align {
  display: flex;
  align-items: center;
}

.titulo-aboutus {
  font-size: 3em;

}

.align-center {
  text-align: center;
}

.linea-aboutus {

  border-bottom: 2px solid #4a4a4a;
}

.imbabout {
  max-width: 100%;
  height: 600px;
}

@media (max-width: 980px) {
  .imbabout {
    height: auto;
  }

  .titulo-aboutus {}
}

.subraya {
  text-decoration: underline;
}

/*Prueba*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

h2,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h2,
h4 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #333333;
  border-bottom: outset;
}

h2 {
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
}

p,
li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 22px;
}

ul,
li {
  text-decoration: none;
  list-style: disc outside;
}

ul {
  padding-left: 20px;
}

svg {
  margin: 0px;
  min-width: 24px;
  min-height: 24px;
}

body {
  background-color: #dadce2;
  background-image: linear-gradient(140deg, white, #dadce2);
  margin: 0;
  width: 100vw;
  min-height: 450px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.active {
  transform: translateZ(0px) rotateY(180deg) !important;
}

.active:after {
  display: none;
}

.card {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}

.card .front {
  z-index: 2;
}

.card .back {
  transform: rotateY(180deg);
}

.card .info {
  padding: 16px;
}

.front .img {
  background-color: #dadce2;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 250px;
}