

    <app-top-head></app-top-head>

<ngbd-app-carousel></ngbd-app-carousel>
  
    <!-- Quieres que te llamemos? -->
    <section>
    <div class="container py-5 px-5">
      <div class="quieres-llamemos ">
        <div class="fw-lg-500 fw-500 roboto fs-lg-2 fs-2">¿Quieres que te contactemos?</div>
      </div>
      <div class="row py-3 jct">
          <div class="col-lg-4 col-8 pr-0">
            <input type="text" class="input-mobile" placeholder="Escribe aquí tu email">
          </div>
          <div class="col-lg-2 col-4 pl-0 btn-group">
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
            <label class="btn btn-outline-secondary">Enviar</label>
          </div>
      </div>
      <div class="container py-4 px-lg-5">
          <div class="texto-buscador">
        CHEAP HOME SECURITY, utilizará estos datos para ponernos en contacto contigo y los borrará en cuanto hayamos resuelto tu consulta.
        Puedes ejercitar los derechos que te asisten en la normativa de protección de datos escribiéndonos a chs@outlook.es. Para más información, 
        vista nuestra Política de Privacidad.
          </div>
      </div>
      <div class="checkbox-input">
        <input type="checkbox"> Acepto la política de privacidad.
      </div>
      <div class="texto-checkbox pt-3">
        <span>Las solicitudes posteriores a las 19 h se cursarán al siguiente día laborable </span>
      </div>
    </div>
    </section>
    <hr class="barra-principal">
    <section>
        <div class="container py-5 px-5">
            <div class="row">
                <div class="nuestras-novedades fw-500 roboto fs-lg-2">- Nuestras Novedades -</div>
                <div class="nuestras-descripcion py-3">
                    En CHS nos hemos adaptado a la nueva situación provocada por el Covid-19, buscando nuevas soluciones pensando en las necesidades que surgen de nuestros clientes. 
                    Os presentamos nuestros nuevos servicios para que podáis mejorar la seguridad en vuestro domicilio:</div>
            </div>
            <div class="d-lg-flex justify-content-center">
                <div style="padding-right: 2%;">
                    <div style="text-align: center;">
                        <img class="img-novedades" src="../assets/media/Inicio/ejemplo4.jpg" alt="">
                    </div>
                    <div class="nuestras-descripcions my-3">
                        <div>CHS el sistema de Videovigilancia más avanzado</div>
                        <div>Los sistemas de seguridad deben adaptarse a los nuevos tiempos y aprovechar las últimas novedades tecnológicas.
                             Así es CHS, nuestro sistema de videoivigilancia.</div>
                    </div>
                </div>
                <div style="padding-right: 2%;">
                    <div style="text-align: center;">
                        <img class="img-novedades" style="text-align: center;" src="../assets/media/Inicio/ejemplo5.jpg" alt="">
                    </div>
                    <div class="nuestras-descripcions my-3">
                        <div>CHS Innovando nuevas tecnologias</div>
                        <div>En CHS estamos al tanto de nuevas tecnologias trabajando constantemente en dar una mejor experiencia al cliente con el major servicio de vigilancia para tu hogar</div>
                    </div>
                </div>
                <div style="padding-right: 2%;">
                    <div style="text-align: center;">
                        <img class="img-novedades" style="text-align: center;" src="../assets/media/Inicio/ejemplo6.jpg" alt="">
                    </div>
                    <div class="nuestras-descripcions my-3">
                        <div>CHS esta Encriptando tus datos</div>
                        <div>No te preocupes por tus datos personales, CHS los protegera de cualquier tipo de intrusion gracias a una fuerte infraestructura de seguridad datos .</div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <app-footer></app-footer>
