.registrar {
    color: black;
}

.wrapper {}

.iniciarS {}

.pl-5 {
    padding-left: 5%;
}

ul {
    list-style: none;
}

.footer {
    padding-left: 0px;
}

.caixaButons {
    padding-right: 10%;
    padding-top: 9%;

}

.btn-enviar {
    border-radius: 0 20px 20px 0;
}

.barra-principal {
    border-bottom: 2px solid #000000;
}

.imagen-slider {
    height: 650px;

}

.checkbox-input {
    text-align: center;
    font-size: 16px;
}

.input-mobile {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    border-radius: 20px 0 0 20px;
}

.jct {
    justify-content: center
}

.pr-0 {
    padding-right: 0%
}

.pl-0 {
    padding-left: 0%
}

.texto-checkbox {
    font-size: 12px;
    text-align: center
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
}

.texto-buscador {
    font-size: 16px;
    text-align: center;
}

.texto-buscador {
    font-size: 16px;
    text-align: center;
    margin-left: 19%;
    margin-right: 20%;
}

@media (min-width: 420px) {
    .input-mobile[_ngcontent-her-c110] {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        border-radius: 20px 20px 20px 20px;
    }

    .texto-buscador {
        font-size: 16px;
        text-align: center;
        margin-left: 19%;
        margin-right: 20%;
    }
}

.texto-buscador {
    font-size: 16px;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}

.bgTopBar {
    background-color: #4a4a4a;
}

.quieres-llamemos h1 {}

.img-novedades {
    max-width: 100%;
    height: 270px;
}

.logo {
    width: 100%;
    height: 170px;
    background-size: cover;
}

.carousel-control-prev .carousel-control-next .carousel-indicators {
    display: none;
}

.color-white {
    color: white;
}

.menu-footer {
    text-align: end;
}

.menu-redes-footer {
    text-align: start;
}

#sidebar {
    background: #e24343;
    color: #fff;
    transition: all 0.3s;
    float: left;

}

.quieres-llamemos {
    text-align: center;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f74242;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #bb7474;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #d57373;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #cc6d6d;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #cc6d6d;
}


.contenedor {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

main.contenido {
    width: 66.6666%;
    background: #efefef;
    padding: 20px;
    float: left;
}

aside.sidebar {
    float: left;
    width: 33.3333%;
    background: #666666;
    padding: 20px;
    color: #ffffff;

}

.nuestras-novedades {
    text-align: center;
    font-size: 27px;
}

.nuestras-descripcion {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.nuestras-descripcions {
    text-align: center;
}