<app-top-head-client></app-top-head-client>

<section id="perfil">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-lg-8 my-5">

                <form id="formulario" (ngSubmit)="formSubmit($event)" action="/my-handling-form-page" method="post"
        name="form">

      <div class="col-lg-6 mb-5 pl-4">
        <label for="name" class="form-label">Nom:</label>
        <input [ngModel]='nameVar' (ngModelChange)='onChangeName($event)' placeholder="Juaquim" type="text" name="name"
               id="name"
               required class="form-control" [ngClass]="{
                    'input-valid': isNameValid()[0] && nameInit,
                    'input-fail': !isNameValid()[0] && nameInit
                  }" minlength="3" maxlength="10">
        <span style="color: red;" *ngIf="nameInit && isNameValid()[0] == false">{{isNameValid()[1]}}</span>
      </div>

      <div class="col-lg-6 mb-5">
        <label for="surname" class="form-label">Cognoms:</label>
        <input [ngModel]='surnameVar' (ngModelChange)='onChangeSurname($event)' type="text" placeholder="Macias"
               name="surname"
               minlength="3" maxlength="30" class="form-control" [ngClass]="{
                    'input-valid': isSurnameValid()[0] && surnameInit,
                    'input-fail': !isSurnameValid()[0] && surnameInit
                  }" minlength="3" maxlength="10">

        <span style="color: red;"
              *ngIf="surnameInit && isSurnameValid()[0] == false">{{isSurnameValid()[1]}}</span>
      </div>

      <div class="col-lg-6 mb-5 pl-4">
        <label for="dni" class="form-label">DNI:</label>
        <input [ngModel]='dniVar' (ngModelChange)='onChangeDni($event)' placeholder="88888888X" name="dni"
               class="input form-control"
               type="text" id="dni" [ngClass]="{
                    'input-valid': isDniValid()[0] && dniInit,
                    'input-fail': !isDniValid()[0] && dniInit
                  }">
        <span style="color: red;" *ngIf="dniInit && isDniValid()[0] == false">{{isDniValid()[1]}}</span>
      </div>

      <div class="col-lg-6 mb-5">
        <label for="mail" class="form-label">email:</label>
        <input [ngModel]="emailVar" (ngModelChange)="onChangeEmail($event)" name="email" type="email" id="email"
               placeholder="BarreraMaciasCarreras@gmail.com" class="form-control" required [ngClass]="{
                    'input-valid': isEmailValid()[0] && emailInit,
                    'input-fail': !isEmailValid()[0] && emailInit
                  }">
        <span style="color: red;" *ngIf="emailInit && isEmailValid()[0] == false">{{isEmailValid()[1]}}</span>
      </div>

      <div class="col-lg-6 mb-5">
        <label for="telefon" class="form-label">Telefon</label>
        <input [ngModel]="telefonoVar" (ngModelChange)="onChangeTelefono($event)" name="telefono" type="text"
               id="telefon" placeholder="688 888 888" class="form-control" required [ngClass]="{
                    'input-valid': isTelefonoValid()[0] && telefonoInit,
                    'input-fail': !isTelefonoValid()[0] && telefonoInit
                  }"><span style="color: red;"
                           *ngIf="telefonoInit && isTelefonoValid()[0] == false">{{isTelefonoValid()[1]}}</span>
      </div>

      <div class="col-lg-6 mb-5">
        <label for="date" class="form-label">Data de naixement:</label>
        <input [ngModel]="dateVar" name="date" (ngModelChange)="onChangeDate($event)" id="date" type="date"
               name="fecha" class="form-control" [ngClass]="{
                    'input-valid': isDateValid()[0] && dateInit,
                    'input-fail': !isDateValid()[0] && dateInit
                  }"><span style="color: red;"
                           *ngIf="dateInit && isDateValid()[0] == false">{{isDateValid()[1]}}</span>
      </div>


        <div class="col-lg-6 mb-5">
          <label for="password" class="form-label">Contraseña actual</label>
          <input [ngModel]="password1Var" name="pass1" (ngModelChange)="onChangePassword1($event)"
                 type="password" id="password1" class="form-control" minlength="4"
                 maxlength="10" [ngClass]="{
                            'input-valid': isPassword1Valid()[0] && password1Init,
                            'input-fail': !isPassword1Valid()[0] && password1Init
                          }">
          <span style="color: red;"
                *ngIf="password1Init && isPassword1Valid()[0] == false">{{isPassword1Valid()[1]}}</span>
        </div>

        <div class="col-lg-6 mb-5">
          <label for="password2" class="form-label">Nueva contraseña</label>
          <input [ngModel]="password2Var" name="pass2" (ngModelChange)="onChangePassword2($event)"
                 type="password" id="password2" class="form-control" [ngClass]="{
                        'input-valid': isPassword2Valid()[0] && password2Init,
                        'input-fail': !isPassword2Valid()[0] && password2Init
                      }">
          <span style="color: red;"
                *ngIf="password2Init && isPassword2Valid()[0] == false">{{isPassword2Valid()[1]}}</span>
        </div>





      <div class="row">
        <div>
          <div class="form-check">
            <input [ngModel]="subVar" (ngModelChange)="onChangeSub($event)" class="form-check-input" type="radio"  name="sub" id="exampleRadios1" value="sub5">
            <label class="form-check-label" for="exampleRadios1">
              Subscripcion 5
            </label>
          </div>
          <div class="form-check">
            <input [ngModel]="subVar" (ngModelChange)="onChangeSub($event)" class="form-check-input" type="radio" name="sub" id="exampleRadios2" value="sub10">
            <label class="form-check-label" for="exampleRadios2">
              subscripciones 10
            </label>
          </div>
          <div class="form-check disabled">
            <input [ngModel]="subVar" (ngModelChange)="onChangeSub($event)" class="form-check-input" type="radio" name="sub" id="exampleRadios3" value="subFree">
            <label class="form-check-label" for="exampleRadios3">
              Subscripcion gratuita
            </label>
          </div>
        </div>
        <span style="color: red;"
              *ngIf="subInit && isSubValid()[0] == false">{{isSubValid()[1]}}</span>
      </div>

      <div class="row">
        <div>
          <button class="btn btn-outline-secondary enviar" ng-click="formSubmit()">Registrarse</button>
        </div>
        <p *ngIf="formError != ''" style="color: red">{{formError}}</p>
      </div>



  </form>
            </div>
        </div>
    </div>
</section>

<app-footer-client></app-footer-client>
