.input-valid{
  box-shadow: green 0px 0px 5px ;
  border-color: green;
}
.input-fail{
  box-shadow: red 0px 0px 5px;
  border-color: red;
}
.container{
  padding-top: 120px;
  padding-bottom: 157px;
}
.new-session-forms-container{
  box-shadow: 0 0 0 1px #dbdbdb;
  border-radius: 0.25rem;
  padding: 15px;
}
.titulo-form-ini{
  padding-bottom: 16px;
  padding-left: 48%;
  font-size: 25px;
}
.titulo-inicio{
  padding-left: 28%;
}
.contenido-inicio{
  padding-left: 50%;
  list-style: none;
}
.bgTopBar{
  background-color: #4a4a4a;
    position: absolute;
    max-width: 100%;
    bottom: 0px;
}
@media (max-width: 992px) {
  .titulo-form-ini{
    padding-bottom: 16px;
    padding-left: 0%;
    font-size: 25px;
  }
  .contenido-inicio{
    padding-left: 0%;
    list-style: none;
  }
}