<app-top-head></app-top-head>
<div class="container my-lg-5 my-3">

  <form id="formulario" action="/my-handling-form-page" method="post"
    name="form">

    <div class="row">
      <div class="col-sm-6 order-12 order-sm-1 brand-holder mb-5">
        <div class="titulo-form-ini">Inicia sesión aquí: </div>
        <ul class="contenido-inicio">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01
                1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0
                1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0
                0 1 .02-.022Z" />
              </svg>La mejor experiencia en seguridad.
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01
                  1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0
                  0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093
                  5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>Interactua con el entorno de tu casa.
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16
                  16">
                  <path d="M12.736 3.97a.733.733 0 0 1 1.047
                    0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0
                    1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1
                    1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                  </svg>Economico y un servicio exquisito.
                </li>
              </ul>
            </div>

            <div class="col-sm-4 order-1 new-session-forms-container
              order-sm-12">
              <label for="name" class="form-label">Email:</label>
              <input [ngModel]='emailVar'
                (ngModelChange)='onChangeEmail($event)'
                type="text" name="email" id="email"
                required class="form-control" [ngClass]="{
                'input-valid': isEmailValid()[0] && emailInit ,
                'input-fail': !isEmailValid()[0] && emailInit
                }" minlength="3">
              <span style="color: red;" *ngIf="emailInit && isEmailValid()[0] ==
                false">{{isEmailValid()[1]}}</span>



              <label for="password" class="form-label">Contraseña:</label>
              <input [ngModel]='passwordVar'
                (ngModelChange)='onChangePassword($event)' type="password"
                name="password"
                class="form-control"
                required class="form-control" [ngClass]="{
                'input-valid': isPasswordValid()[0] && passwordInit,
                'input-fail': !isPasswordValid()[0] && passwordInit
                }">

              <span style="color: red;"
                *ngIf="passwordInit && isPasswordValid()[0] == false">{{isPasswordValid()[1]}}</span>
              <button (click)="loginSubmit($event)" type="button" class="btn
                btn-outline-secondary mt-4"id="registrarse">

                Iniciar
              </button>

              <p *ngIf="loginError != ''" style="color: red">{{loginError}}</p>
            </div>

          </div>

        </form>
      </div>
      <app-footer></app-footer>
