
.boton{
    color: white;
    display: inline-block;
    align-items: end;
}

.registrar{
    color: black;
}

.iniciarS{

}

.caixaButons{
    padding-right: 10%;
    padding-top: 9%;
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;


}

#bgTopBar{
    background-color: #000000;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.logo{
    width: auto;
    height: 200px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #e24343;
    color: #fff;
    transition: all 0.3s;

    float: left;

}
.roboto{
    font-family: 'Roboto', sans-serif;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #f74242;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #bb7474;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #d57373;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #cc6d6d;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #cc6d6d;
}



.contenedor {
    width: 100%;
    max-width: 960px;
    margin:0 auto;
    overflow: hidden;
    }
    main.contenido {
    width: 66.6666%;
    background: #efefef;
    padding: 20px;
    float: left;
    }
    aside.sidebar {
    float: left;
    width: 33.3333%;
    background: #666666;
    padding: 20px;
    color:#ffffff;

    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/*
==============================
Font Size
==============================
*/
.fs-06 {
    font-size: 0.6em;
  }
  .fs-07 {
    font-size: 0.7em;
  }

  .fs-08 {
    font-size: 0.8em;
  }

  .fs-09 {
    font-size: 0.9em;
  }

  .fs-1,
  .fs-1 p {
    font-size: 1em;
  }

  .fs-11 {
    font-size: 1.1em;
  }

  .fs-12,
  .fs-12 p {
    font-size: 1.2em;
  }

  .fs-13 {
    font-size: 1.3em;
  }

  .fs-14 {
    font-size: 1.4em;
  }

  .fs-15 {
    font-size: 1.5em;
  }
  .fs-16 {
    font-size: 1.6em;
  }
  .fs-17 {
    font-size: 1.7em;
  }
  .fs-18 {
    font-size: 1.8em;
  }

  .fs-2 {
    font-size: 2em;
  }

  .fs-25 {
    font-size: 2.5em;
  }

  .fs-3 {
    font-size: 3em;
  }
  .fs-4 {
    font-size: 4em;
  }
  .fs-45 {
    font-size: 4.5em;
  }
  .fs-5 {
    font-size: 5em;
  }

  @media (min-width:992px) {
    .fs-lg-07 {
      font-size: 0.7em;
    }

    .fs-lg-08 {
      font-size: 0.8em;
    }

    .fs-lg-09 {
      font-size: 0.9em;
    }

    .fs-lg-1 {
      font-size: 1em;
    }

    .fs-lg-11 {
      font-size: 1.1em;
    }

    .fs-lg-12,
    .fs-lg-12 p {
      font-size: 1.2em;
    }

    .fs-lg-13 {
      font-size: 1.3em;
    }

    .fs-lg-14,
    .fs-lg-14 p {
      font-size: 1.4em;
    }

    .fs-lg-15 {
      font-size: 1.5em;
    }
    .fs-lg-16 {
      font-size: 1.6em;
    }
    .fs-lg-17 {
      font-size: 1.7em;
    }
    .fs-lg-18 {
      font-size: 1.8em;
    }

    .fs-lg-2 {
      font-size: 2em;
    }

    .fs-lg-25 {
      font-size: 2.5em;
    }

    .fs-lg-3 {
      font-size: 3em;
    }
    .fs-lg-4 {
      font-size: 4em;
    }
    .fs-lg-5 {
      font-size: 5em;
    }
    .fs-lg-6 {
      font-size: 6em;
    }
    .fs-lg-65 {
      font-size: 6.5em;
    }
    .fs-lg-7 {
      font-size: 7em;
    }


  }



  /*
  ==============================
  Font Weight
  ==============================
  */

  .fw-900 {
    font-weight: 900;
  }

  .fw-700 {
    font-weight: 700;
  }

  .fw-600 {
    font-weight: 600;
  }

  .fw-500 {
    font-weight: 500;
  }

  .fw-400 {
    font-weight: 400;
  }

  .fw-300,
  .fw-300 p {
    font-weight: 300;
  }

  .fw-200 {
    font-weight: 200;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
