.input-valid{
    box-shadow: green 0px 0px 5px ;
    border-color: green;
}
.input-fail{
    box-shadow: red 0px 0px 5px;
    border-color: red;
}
.container{
  padding-top: 70px;
  padding-bottom: 70px;
}

#formulario{
  box-shadow: 0 0 0 1px #dbdbdb;
  border-radius: 0.25rem;
  padding: 15px;
}
.form-check{
  margin: 20px;
  display: inline-block;
}
