<app-top-head></app-top-head>
<body>
    <div class="contenedor">
        <main class="contenido">
            <h1>Contenido principal</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a erat id dui egestas placerat. Duis
                vulputate dignissim accumsan. Vestibulum pretium ut mi ac condimentum. Phasellus a viverra sem, non
                suscipit urna. Morbi non lectus consequat, tempor nunc non, rutrum massa. Sed pulvinar ipsum nec
                dignissim commodo. Maecenas vitae quam magna. Donec elementum mauris massa, et elementum quam convallis
                quis...</p>
        </main>
        <aside class="sidebar">
            <h2>Sidebar</h2>
            <p>Este sidebar llega hasta abajo aunque tenga poco contenido</p>
        </aside>
    </div>
    <app-footer></app-footer>

</body>
