
.card {
  width: 300px;
  height: 550px;
  margin: 0 auto;
  background: #22313F;
  border-radius: 4px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.profile-cover-container {
  background-size: cover;
  width: 100%;
  height: 175x;
  overflow: hidden;
  float: left;
}
.profile-cover-container img {
  width: 100%;
  height: auto;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  z-index: 0;
}

.cover-overlay {
  z-index: 1;
  border-top-right-radius: 35%;
  border-top-left-radius: 35%;
  margin-top: -50px;
  width: 100%;
  height: 60px;
  background: #22313F;
  position: relative;
}

.profile-picture {
  background-image: url("https://pbs.twimg.com/profile_images/1057449615841214466/KXT83JRQ_400x400.jpg");
  background-size: cover;
  top: 65px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  display: block;
  z-index: 1;
  border: 1px solid #949599;
  position: relative;
}
.tuto{
  border: 1px solid #000;
}
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');#Camaras {  font-family: 'Syne Mono', monospace;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  text-align: center;  color: #2c3e50;  margin: 80px 10px;}.subraya {  text-decoration: underline;}.videos {  display: flex;  align-items: center;  justify-content: center;}#remoteVideo{  border: 1px solid #000;}.imagenAdd{  position: absolute;  top: 64%;  left: 47%;  width: 6%;}@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
#Panel {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  margin: 50px 10px;
}

video {
  max-width: 100%;
  width:50%
}
.subraya {
  text-decoration: underline;
}
.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}
#remoteVideo{
  border: 1px solid #000;
  width: 27%;
  height: 383px;
}
.bgTopBar{
  margin-top: 10%;
}
@media (max-width: 992px) {
  #remoteVideo {
    max-width: 100%;
    max-height: 300px;
    width: 100%;
    border: 1px solid #000;
  }
  
}