<app-top-head-client></app-top-head-client>
<section id="Panel">
  <div>
    <div class="subraya fw-900 roboto fs-lg-5 fs-1 py-5">Panel de Control</div>
  </div>
  <div class="videos">

    <video id="remoteVideo" autoplay playsinline>
    </video>

  </div>
  <div class="fs-12 py-3 my-3 roboto">
    <span class="tuto p-3"> Introduce el codigo generado de tu dispositivo.</span>
  </div>
  <div class="pt-1">
    <input id="callInput" />
  </div>
  <div>
    <button id="answerButton" class="my-3 btn btn-outline-secondary">Conectar</button>
  </div>
  <script type="module" src="/main.js"></script>
</section>

<app-footer-client></app-footer-client>
